* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  box-sizing: border-box;
  background-color: #000000;
  color: #f6f6f6;
}

.strong-title {
  color: #0e503f;
}

img {
  color: #0e503f;
  border: 2px solid #0e503f;
  border-radius: 3%;
  padding: 5px;
  width: 352px;
  height: 395px;
}

.container-main {
  margin: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-main-section-content {
  width: 615px;
}

.container-main-title {
  font-size: 36px;
}

.container-main-paragraph {
  font-size: 24px;
}
