@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-background: #000000;
  --color-text: #f6f6f6;
  --color-strong-text: #22d4fd;
  --color-hover: #61a3b3;

  --font-primary: "Krona One", sans-serif;
  --font-secundary: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: var(--color-background);
  color: var(--color-text);
}

.header {
  padding: 2% 0% 0% 15%;
}

.header-menu {
  display: flex;
  gap: 80px;
}

.header-menu-link {
  text-decoration: none;
  color: var(--color-strong-text);
  font-size: 24px;
  font-family: var(--font-secundary);
  font-weight: 600;
}

.header-menu-link:hover {
  color: var(--color-text);
}

.container-main-img-profile {
  color: var(--color-strong-text);
  border: 2px solid var(--color-strong-text);
  border-radius: 3%;
  padding: 5px;
  width: 352px;
  height: 395px;
}

.container-main {
  padding: 8% 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-main-section-content {
  width: 615px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.container-main-title {
  font-size: 36px;
  font-family: var(--font-primary);
}

.container-main-subtitles {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 20px;
}

.container-main-paragraph {
  font-family: var(--font-secundary);
  font-weight: 400;
  font-size: 16px;
}

.container-main-list-link {
  text-decoration: none;
  color: var(--color-strong-text);
}

.container-main-list-link:hover {
  color: var(--color-hover);
}

.container-main-list {
  font-family: var(--font-secundary);
  font-weight: 400;
  font-size: 16px;
}

.container-main-list-strong {
  color: var(--color-strong-text);
}

.footer {
  padding: 24px;
  color: var(--color-background);
  background-color: var(--color-strong-text);
  font-family: var(--font-secundary);
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}
