/* Importando fontes do projeto Krona One e Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

.header {
  padding: 2% 0% 0% 15%;
}

.header-menu {
  display: flex;
  gap: 80px;
}

.header-menu-link {
  text-decoration: none;
  color: #22d4fd;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.header-menu-link:hover {
  color: #ffffff;
}

body {
  /* height: 100hv; */
  box-sizing: border-box;
  background-color: #000000;
  color: #f6f6f6;
}

.strong-title {
  color: #22d4fd;
}

.container-main-img-profile {
  color: #22d4fd;
  border: 2px solid #22d4fd;
  border-radius: 3%;
  padding: 5px;
  width: 352px;
  height: 395px;
}

.container-main {
  /* margin: 15% 20%; */
  padding: 8% 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-main-section-content {
  width: 615px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.container-main-title {
  font-size: 36px;
  font-family: "Krona One", sans-serif;
}

.container-main-paragraph {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.container-links {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.container-links-subtitle {
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-size: 24px;
}

.container-links-style {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-weight: 600;
  font-size: 24px;
  width: 378px;
  /* background-color: #116e57; */
  border: 2px solid #22d4fd;
  color: #ffffff;
  padding: 21.5px 0px;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  text-decoration: none;
}

.container-links-style:hover {
  background-color: #252525;
  font-size: 26px;
}

.footer {
  padding: 24px;
  color: #000000;
  background-color: #22d4fd;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}
