@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-background: #000000;
  --color-text: #f6f6f6;
  --color-strong-text: #22d4fd;
  --color-hover: #252525;

  --font-primary: "Krona One", sans-serif;
  --font-secundary: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.header {
  padding: 2% 0% 0% 15%;
}

.header-menu {
  display: flex;
  gap: 5rem;
}

.header-menu-link {
  text-decoration: none;
  color: var(--color-strong-text);
  font-size: 1.5rem;
  font-family: var(--font-secundary);
  font-weight: 600;
}

.header-menu-link:hover {
  color: var(--color-text);
}

body {
  box-sizing: border-box;
  background-color: var(--color-background);
  color: var(--color-text);
}

.strong-title {
  color: var(--color-strong-text);
}

.container-main-img-profile {
  color: var(--color-strong-text);
  border: 2px solid var(--color-strong-text);
  border-radius: 3%;
  padding: 0.31rem;
  width: 22rem;
  height: 24.69rem;
}

.container-main {
  padding: 8% 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-main-section-content {
  width: 38.44rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.container-main-title {
  font-size: 2.25rem;
  font-family: var(--font-primary);
}

.container-main-paragraph {
  font-size: 1.5rem;
  font-family: var(--font-secundary);
  font-weight: 400;
}

.container-links {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.container-links-subtitle {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 1.5rem;
}

.container-links-style {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
  font-size: 1.5rem;
  width: 23.62rem;
  border: 2px solid var(--color-strong-text);
  color: var(--color-text);
  padding: 1.37rem 0rem;
  border-radius: 0.5rem;
  font-family: var(--font-secundary);
  text-align: center;
  text-decoration: none;
}

.container-links-style:hover {
  background-color: var(--color-hover);
  font-size: 1.6rem;
}

.footer {
  padding: 1.5rem;
  color: var(--color-background);
  background-color: var(--color-strong-text);
  font-family: var(--font-secundary);
  font-weight: 400;
  font-size: 1.2rem;
  text-align: center;
}
